{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div id="form_connexion">
    <h1>Réinitialiser votre mot de passe</h1>


            {{ form_start(requestForm) }}
    <div class="form_connexion">
            {{ form_row(requestForm.mail) }}
                <small>
                    Un mail de réinitialisation vous sera envoyé.
                </small>
            <button class="btn btn-primary">Envoyer le mail</button>
        {{ form_end(requestForm) }}
    </div>
    </div>
{% endblock %}
