{% extends 'base.html.twig' %}



{% block body %}
    <div id="centre">
    <h1>Bienvenue sur Sortir.com</h1>
    </div>
    <p id="description"> Sortir, est le lien entre VOUS et tous les apprenants de l'ENI.
        Une fois inscrit·e, participez aux sorties près de chez vous ou organisez votre propre évènement en étant accompagné·e et en toute sécurité.
    </p> <p id="strong"><strong> <a href="{{ path('_list')}} " >Cliquez ! Vous n'avez plus qu'à profiter !</a> </strong></p>
{% endblock %}
