{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button>Enregistrer</button>
    {{ form_end(userForm) }}
{% endblock %}

{% block title %}

{% endblock %}

