/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*-----------------resset-----------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*----------------------------defaut---------------------------------*/
@keyframes sun {
    to {
        background-position: 200% center;
    }
}
main{
    margin: 0 auto;
}
html{
    font-family: "Dubai", "Tempus Sans ITC", "Times New Roman", sans-serif ;
}
.mess_success{
    color: #1c7430;
}
.mess_error{
    color: #B0413E;
}

/*.cadre-table-scroll {*/
/*    display: inline-block;*/
/*    height: 20em;*/
/*    overflow-y: scroll;*/
/*}*/
/*.table-scroll thead th {*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/
/*.table-scroll tfoot td {*/
/*    position: sticky;*/
/*    bottom: 0;*/
/*}*/

button{
    padding: 0.5em;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #CD5334;
    color: #FFFFFF;
}

input{
    padding: 0.5em;
    border-radius: 8px;
}
input:focus::placeholder{
    color: #FFFFFF;
}
input:focus{
    background-color: #CD5334;
    color: #FFFFFF;
}
select{
    padding: 0.5em;
    border-radius: 8px;
    width: 14em;
    margin: 0 0.5em ;
}
select:focus{
    background-color: #CD5334;
    color: #FFFFFF;
}

.table{
    height: 20em;
    overflow-y: scroll;

}
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #640000;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #CD5334 ;
    border-radius: 10px;
}

#form_connexion{
    display: flex;
    width: 25%;
    flex-flow: column;
    margin: 0 auto;
}
#form_connexion input{
margin: 0.5em 0;
}
#form_connexion .form_footer{
     display: inline-block;
 }
#form_connexion .form_footer button{
    margin-right: 1em;
}
#form_connexion div{
   display: flex ;
    flex-flow: column;

}
a{
    text-decoration: none;
    color: #CD5334;
    font-weight: bold;
}
a:hover{
    color: #fb1207;
    font-weight: bold;
}


/*----------------------------css stephane---------------------------------*/
/*ul {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*li {*/
/*    padding: 0 2em;*/
/*    list-style-type: none;*/
/*    font-family: "MS UI Gothic", sans-serif;*/
/*    font-size: 1.2em;*/
/*    font-weight: bold;*/
/*    color: whitesmoke;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    text-decoration-color: black;*/
/*    font-size: 18px;*/
/*    font-family: "JetBrains Mono Light", sans-serif;*/
/*}*/

/*----------------------------header---------------------------------*/

header{
border-bottom: 1px solid #ae8f8f;
    padding: 4em 7em 2em 7em;
}
#header_top{
    margin-bottom: 2em;
}
#header_footer{
    display: flex;
    justify-content: center;
}
#logo{
    display: flex;
    width: 30%;
}
.img_logo{
    width: 5em;
    height: 5em;
    margin-right: 1em;
}
.logo{
    font-weight: revert;
    background: linear-gradient(to right , #fc2f00, #c00000, #be1c00, #fc2f00);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: sun 2s linear infinite;
}
.img_user{
    border-radius: 50%;
    width: 2em;
    height: 2em;
}
#header_footer a{
    text-decoration: none;
    color: #CD5334;
}
#userHome img{
    display: block;
    margin: 0 auto;
}
nav{
    display: flex;
    align-content: center;
    margin: 0 auto;
    vertical-align: center;
}
nav ul{
    display: flex;
    align-content: center;
}
nav li {
    display: flex;
    align-items: center;
    padding: 0 2em;
    list-style-type: none;
    font-family: "MS UI Gothic", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    height: 100%;
    vertical-align: center;

}

nav a {
    text-decoration: none;
    text-decoration-color: black;
    font-size: 18px;
    font-family: "JetBrains Mono Light", sans-serif;

}

/*----------------------------main---------------------------------*/
main{
    padding: 2em 7em 7em 7em;
}
h1{
    font-size: 2em;
    font-family: "Yu Gothic UI Light", "Tempus Sans ITC", "Times New Roman", sans-serif;
    padding: 0.5em 0;
}
h2{
    font-size: 1.4em;
    font-family: "Yu Gothic UI Light", "Tempus Sans ITC", "Times New Roman", sans-serif;
    padding: 0.5em 0;
}
form{
    display: flex;
    padding: 2em;
    justify-content: space-between;
}
#recherche_sortie div{
    padding: 0.2em 0;
}
.form_date{
    display: flex;
}

.form_block:nth-child(2) div{
display: flex;
    justify-content: space-between;
}
.form_block div{
    margin: 0.3em 0;
}
.form_block input{
    margin: 0 0.5em ;
}
.form_block button{
    padding: 0 8em;
    width: 100%;
    height: 100%;
}
th{
    font-size: 1.1em;
    font-family: "Yu Gothic UI Light", "Tempus Sans ITC", "Times New Roman", sans-serif;
    padding: 0.5em 0;
}

td{
    padding: 0.8em 1.2em;
    border-radius: 20px;
}
td:hover{
    background-color: #e1c9c9;
}
tr:hover{
    background-color: #f6f6f6;
}
tr{
    border: 1px solid black;
    border-radius: 20px;
}
table{
    display: flex;
    justify-content: center;
    border: 3px solid #ffa8a8;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 0.5em;
}
#conteneur{
    display: flex;
    justify-content: center;

}
.form_block input[type="checkbox"]{
    background: #B0413E;
    color: #B0413E;
}
.profil{
    width: 15em;
    height: 15em;
}
/*----------------------------footer---------------------------------*/
footer{
    display: flex;
    padding: 7em;
}

