{% extends 'base.html.twig' %}

{% block title %}Organisez une sortie {% endblock %}

{% block body %}

    <div id="form_connexion">

    {{ include('sortie/_form.html.twig') }}
    <ul>
        <li>
            <a href="{{ path('_list') }}">Retourner à la liste des sorties</a>
        </li>
    </ul>

    </div>

    {{ include('sortie/Fragments/_script_form.html.twig') }}

{% endblock %}

{% block javascripts %}

{% endblock %}
